<div class="footer-container">
	
	<footer class="short bg-secondary-1">
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<span class="sub">© Copright 2014 Medium Rare</span>
					<ul>
						<li><a href="#">Terms Of Use</a></li>
						<li><a href="#">Privacy &amp; Security Statement</a></li>
						<li><a href="#">Sitemap</a></li>
					</ul>
				</div>
				
				<div class="col-sm-2 text-right">
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>
					</ul>	
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</footer>
</div>