<div class="footer-container">
	
	<footer class="details">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img alt="logo" class="logo" src="assets/img/logo-dark.png">
					<p>
						Sphynx is an interactive data visualization tool that is easy to use by anyone. We enable the layman to create amazing graphics that impress and catch the attention of users. Don't be a loser, get Sphynxed.
					</p>
				</div>
				
				<div class="col-sm-4">
					<h1>Contact</h1>
					<p>
						jpk1215@gmail.com<br>
						(800) 867-5309<br>
						<br>
						Floor 25<br>
						5 Hanover Square<br>
						New York, NY
					</p>
				</div>
				
				<div class="col-sm-4">
					<h1>Social Profiles</h1>
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="icon social_twitter"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_facebook"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_instagram"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_dribbble"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_tumblr"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="icon social_pinterest"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<span class="sub">© Copright 2014 <a href="/">Sphynx</a> - All Rights Reserved</span>
				</div>
			</div>
			
		</div>
	</footer>
</div>