<div class="main-container">
    <section class="hero-slider">
        <ul class="slides">
          <li class="overlay">


            <div class="video-wrapper youtube-bg">
              <iframe class="youtube-bg-iframe" type="text/html" id="yt-1418425437413-0" src="https://www.youtube.com/embed/s2Aw5J-UDWI?rel=0&amp;enablejsapi=1&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;iv_load_policy=3"></iframe>
            </div>

            <div class="container align-vertical">
              <div class="row">
                <div class="col-sm-9 col-md-8">
                  <h1 class="text-white">Turn boring spreadsheets into interactive data visualizations.</h1>
                  <a href="/about" class="btn btn-primary btn-white">Learn More</a>
                  <a href="https://github.com/jpk1215/sphynx" class="btn btn-primary btn-filled">GitHub <span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
              </div>
            </div><!--end of container-->
          </li><!--end of individual slide-->

          <!--end of individual slide-->

        </ul>
      </section>

      <section class="duplicatable-content">

        <div class="container">
          <!--end of row-->

          <div class="row">
            <div class="col-sm-12">
              <h2 class="text-center bottom-heavy">Pick your chart type and upload your data</h2>
            </div>
            <div class="col-sm-4">
              <div class="feature feature-icon-large">
                <div class="pull-left">
                  <img src="assets/img/plot-histogram.png" class="plot-icons">
                </div>
                <div class="pull-right">
                  <h5>Histogram</h5>
                  <p>
                   A histogram is a graphical representation of the distribution of data. It is an estimate of the probability distribution of a continuous variable.
                  </p>
                  <a class="btn btn-xs btn-primary btn-filled" ng-click="filePick('histogram', true)">Upload CSV <span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
              </div>
            </div><!--end 6 col-->

            <div class="col-sm-4">
              <div class="feature feature-icon-large">
                <div class="pull-left">
                  <img src="assets/img/plot-scatter-2d.png" class="plot-icons">
                </div>
                <div class="pull-right">
                  <h5>2D Scatter Plot</h5>
                  <p>
                    A scatter plot, scatterplot is a type of  diagram using Cartesian coordinates to display values for two variables for a set of data.
                  </p>
                  <a class="btn btn-xs btn-primary btn-filled" ng-click="filePick('scatter', true)">Upload CSV <span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
              </div>
            </div><!--end 6 col-->

            <div class="col-sm-4">
              <div class="feature feature-icon-large">
                <div class="pull-left">
                  <img src="assets/img/plot-scatter-3d.png" class="plot-icons">
                </div>
                <div class="pull-right">
                  <h5>3D Scatter Plot</h5>
                  <p>
                    A 3D scatter plot, scatterplot is a type of mathematical diagram using Cartesian coordinates to display values for up to five variables for a set of data.
                  </p>
                  <a class="btn btn-xs btn-primary btn-filled" ng-click="filePick('scatter', false)">Upload CSV <span class="glyphicon glyphicon-arrow-right"></span></a>
                </div>
              </div>
            </div><!--end 6 col-->

            <!--end 6 col-->

          </div><!--end of row-->
        </div>

      </section>

      <section class="strip bg-primary">
        <div class="container">
          <div class="row clearfix">
            <form class="mail-list-signup">
              <div class="col-sm-9 col-xs-12 pull-left clear-fix">
                <h3 class="text-white pull-left"><strong>Get updates:&nbsp;</strong></h3>
                <input type="text" class="signup-email-field validate-email validate-required" placeholder="Enter your email here here">
              </div>

              <div class="col-sm-3 col-xs-12 pull-right text-right">
                <input type="submit" class="btn btn-primary btn-filled" value="Subscribe">
              </div>
            </form>
          </div>

        </div>

      </section>
    </div>
